*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;

}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #titulo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color:rgb(240, 29, 29);
    font-size: 40px;
}

#nav-bar a{
    color: rgb(169, 176, 184);
    text-decoration: none;
    margin-right: 20px;
}

#nav-bar a:hover{
    color:white;
}

#nav-bar a.active{
    color:white;
}

#descripcion{
    color: white;
    font-family:arial;
}

.imagenprincipal {
color: white;
font-size: 16px;
min-height: 40.62em;
background:linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0, 0.5) 100%), url('../images/soncomoninos.jpg');
background-position: center center;
background-size:cover;
margin-bottom: 3.12em;
display: flex;
align-items:end;
}

.imagenprincipal #titulodepelicula{
    font-weight: 600;
    font-size:3.12em;
    margin-bottom: 0.4em;
}

.imagenprincipal #descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.imagenprincipal .boton{
    background:rgba(0, 0, 0, 0.5);
    border:none;
    border-radius:0.31em;
    padding: 0.93em 1.87em;
    color:white;
    margin-right: 1.25em;
    cursor:pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.imagenprincipal .boton:hover{
    background:white;
    color:black;
}


.boton img{
    margin-right: 1.25em;
}

.contenedorSlider{
    margin-bottom: 70px;
}

.contenedorSlider .contenedor-principal{
    display:flex;
    align-items:center;
    position:relative;
}

.flecha-izq , .flecha-der{

    position: absolute;
    border:none;
    background: rgba(240, 243, 243, 0.3);
    font-size:40px;
    height:50%;
    top:calc(50% -25%);
    line-height:40px;
    width:50px;
    cursor:pointer;
    color:white;
    z-index: 500;
    transition: 0.2s ease all;
}

.flecha-izq {
    left: 0;   
}

.flecha-der{
    right: 0;
}

.flecha-izq:hover, .flecha-der:hover{
    background: rgba(240, 243, 243, 0.9);
}

.titulo-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.titulo-contenedor h3{
    color: white;
    font-size: 30px;
}
 


.contenedor-principal .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-principal .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-principal .contenedor-carousel .carousel .pelicula{
     min-width: 33.33%;
     transition: .3s ease all;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} 

.contenedor-principal .contenedor-carousel .carousel .pelicula iframe{
    width: 100%;
    vertical-align: top;
}

.contenedor-principal .contenedor-carousel .carousel .pelicula iframe.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.formulario{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.formulario h2{

    font-size: 20px;
    font-family: arial;
}

.formulario label, 
.formulario input,
.formulario textarea,
.formulario select{
    font-size: 18px;
    font-family: arial;
} 

.button1 {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button1:hover {
    background-color: rgba(255, 0, 0, 0.315);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 
@media screen and (max-width:800px) {
    header #titulo{
    margin-bottom: 10px;       
    }
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }

}